<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>Leadership</h1>
    </div>
</div>   
<div class="flex-wrapper-big">
    <div class="infoblock">
        <p>Select the images below to see their professional bios.</p>
    </div>
</div>
<div class="flex-wrapper-big no-mobile">   
    <div class="flex-wrapper">
        <button class="memberblock one-third" onclick="javascript:openBio('bioPopup_PB');">
            <img src="../assets/img/members/Pete-Burr.png" class="member-pic" alt="Pete Burr" />
            <br>
            <p class="allcaps">Pete Burr</p>
            <p>Deputy AC, AAS</p>
        </button>   
        <button class="memberblock-head" onclick="javascript:openBio('bioPopup_CB');">
            <img src="../assets/img/members/CB_pic.png" class="member-pic" alt="Christopher Bennethum" />
            <br><br>
            <p class="allcaps">Christopher Bennethum</p>
            <p>Assistant Commissioner (AC), AAS</p>
        </button>
        <button class="memberblock one-third" onclick="javascript:openBio('bioPopup_EC');">
            <img src="../assets/img/members/EC_pic.png" class="member-pic" alt="Erin Childs" />
            <br>
            <p class="allcaps">Erin Childs</p>
            <p>Deputy AC, AAS Operations</p>
        </button>
    </div> 
</div>
<div class="bio-spacer no-mobile"><br></div>
<div class="flex-wrapper-big no-mobile">
        <button class="memberblock" onclick="javascript:openBio('bioPopup_JN');">
            <img src="../assets/img/members/JN_pic.jpg" class="member-pic" alt="Joseph Nickerson" />
            <br>
            <p class="allcaps">Joseph Nickerson</p>
            <p>Client Executive, AAS Army</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CK');">
            <img src="../assets/img/members/CK_pic.jpg" class="member-pic" alt="Casey Kelley" />
            <br>
            <p class="allcaps">Casey Kelley</p>
            <p>Client Executive, AAS Air Force/Navy/Space Force</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_DE');">
            <img src="../assets/img/members/DEarly_pic.jpg" class="member-pic" alt="Darrick Early" />
            <br>
            <p class="allcaps">Darrick Early</p>
            <p>Client Executive, AAS Civilian</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CN');">
            <img src="../assets/img/members/CN_pic.jpg" class="member-pic" alt="Corey Nickens" />
            <br>
            <p class="allcaps">Corey Nickens</p>
            <p>Client Executive, AAS Innovation</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CH');">
            <img src="../assets/img/members/CH_pic.png" class="member-pic" alt="Christopher Hamm" />
            <br>
            <p class="allcaps">Christopher Hamm</p>
            <p>Client Executive, AAS Defense</p>
        </button>
    </div>
</div>  
<!-- mobile only version -->
<div class="flex-wrapper-big mobile-only">   
    <div class="flex-wrapper">
        <button class="memberblock-head" onclick="javascript:openBio('bioPopup_CB');">
            <img src="../assets/img/members/CB_pic.png" class="member-pic" alt="Christopher Bennethum" />
            <br><br>
            <p class="allcaps">Christopher Bennethum</p>
            <p>Assistant Commissioner (AC), AAS</p>
        </button>
        <button class="memberblock one-third" onclick="javascript:openBio('bioPopup_TO');">
            <img src="../assets/img/members/Pete-Burr.png" class="member-pic" alt="Pete Burr" />
            <br>
            <p class="allcaps">Pete Burr</p>
            <p>Deputy AC, AAS</p>
        </button>   
        <button class="memberblock one-third" onclick="javascript:openBio('bioPopup_EC');">
            <img src="../assets/img/members/EC_pic.png" class="member-pic" alt="Erin Childs" />
            <br>
            <p class="allcaps">Erin Childs</p>
            <p>Deputy AC, AAS Operations</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_JN');">
            <img src="../assets/img/members/JN_pic.jpg" class="member-pic" alt="Joseph Nickerson" />
            <br>
            <p class="allcaps">Joseph Nickerson</p>
            <p>Client Executive, AAS Army</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CK');">
            <img src="../assets/img/members/CK_pic.jpg" class="member-pic" alt="Casey Kelley" />
            <br>
            <p class="allcaps">Casey Kelley</p>
            <p>Client Executive, AAS Air Force/Navy/Space Force</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_DE');">
            <img src="../assets/img/members/DEarly_pic.jpg" class="member-pic" alt="Darrick Early" />
            <br>
            <p class="allcaps">Darrick Early</p>
            <p>Client Executive, AAS Civilian</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CN');">
            <img src="../assets/img/members/CN_pic.jpg" class="member-pic" alt="Corey Nickens" />
            <br>
            <p class="allcaps">Corey Nickens</p>
            <p>Client Executive, AAS Innovation</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CH');">
            <img src="../assets/img/members/CH_pic.png" class="member-pic" alt="Christopher Hamm" />
            <br>
            <p class="allcaps">Christopher Hamm</p>
            <p>Client Executive, AAS Defense</p>
        </button>
    </div>
</div>  
<div class="v-buffer no-mobile"></div>
<!-- CB popup -->
<div id="bioPopup_CB" class="dialog-overlay" aria-hidden="true" aria-live="off" aria-modal="true" role="dialog">
    <div class="dialog" >
        <div class="modalblock">
            <div id="bioPopup_CB_close" class="modal_close_btn" aria-label="Close dialog" onclick="javascript:closeBio();"><img src="../assets/img/usa-icons/close.svg" alt="Close" /></div>
            <div class="flex-wrapper">
                <img src="../assets/img/members/CB_pic.png" class="member-pic" alt="Chris Bennethum" />
                <div class="infoblock" tabindex="0">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Chris Bennethum</p>
                        <p>Assistant Commissioner, AAS<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration
                            </p>
                    </span>
                </div>
            </div>
            <p>Chris Bennethum serves as the Assistant Commissioner for the Assisted Acquisition Services (AAS), an office within the U.S. General Services Administration’s Federal Acquisition Service (FAS). In this role, he is in charge of an $18 billion portfolio, a team of over 1000 professionals and five specialized business units that form AAS’ backbone operation: AAS Army, AAS Air Force/Navy/Space Force, AAS Innovation, AAS Civilian, and AAS Defense. 
            <br><br>
            Chris has served at GSA for over 30 years in various roles, including FAS Chief of Staff, Deputy Regional Commissioner, Travel and Transportation leader, and European business developer.
            <br><br>
            Chris holds an MBA from Saint Joseph's University and a Bachelor’s from Penn State University. 
            </p>
        </div>
    </div>
</div>   
<!-- CN popup -->
<div id="bioPopup_CN" class="dialog-overlay" aria-hidden="true" aria-live="off" aria-modal="true" role="dialog">
    <div class="dialog" >
        <div class="modalblock">
            <div id="bioPopup_CN_close" class="modal_close_btn" aria-label="Close dialog" onclick="javascript:closeBio();"><img src="../assets/img/usa-icons/close.svg" alt="Close" /></div>
            <div class="flex-wrapper">
                <img src="../assets/img/members/CN_pic.jpg" class="member-pic" alt="Corey Nickens" />
                <div class="infoblock" tabindex="0">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Corey Nickens</p>
                        <p>Client Executive/Acquisition Innovation Advocate<br>
                            AAS Innovation<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration
                            </p>
                    </span>
                </div>
            </div>
            <p>Corey Nickens serves as a Client Executive for the Assisted Acquisition Services office (AAS), an office within the U.S. General Services Administration’s Federal Acquisition Service (FAS). In this role, he manages the AAS Innovation Business Unit.
            <br><br>
            Corey joined GSA in 2004. He served as AAS’ Deputy Assistant Commissioner from 2020 to 2023, and Acquisition Quality Director for AAS’ Federal Systems Integration and Management Center (FEDSIM) from 2017 to 2020.
            <br><br>
            Corey holds a Master’s in Library and Information Science from Drexel University, and a Bachelor’s in Information Systems from the University of Maryland Baltimore County (UMBC).
            </p>
        </div>
    </div>
</div>   
<!-- CH popup -->
<div id="bioPopup_CH" class="dialog-overlay" aria-hidden="true" aria-live="off" aria-modal="true" role="dialog">
    <div class="dialog" >
        <div class="modalblock">
            <div id="bioPopup_CH_close" class="modal_close_btn" aria-label="Close dialog" onclick="javascript:closeBio();"><img src="../assets/img/usa-icons/close.svg" alt="Close" /></div>
            <div class="flex-wrapper">
                <img src="../assets/img/members/CH_pic.png" class="member-pic" alt="Chris Hamm" />
                <div class="infoblock" tabindex="0">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Chris Hamm</p>
                        <p>Client Executive<br>
                            AAS Defense<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration
                            </p>
                    </span>
                </div>
            </div>
            <p>Chris Hamm serves as a Client Executive for the Assisted Acquisition Services (AAS), an office within the U.S. General Services Administration’s Federal Acquisition Service (FAS). In this role, he manages the AAS Defense Business Unit where he leads assisted acquisition services for the Department of Defense, including the Geographic Combatant Commands and Special Operations Command. 
            <br><Br>
            Chris joined GSA in 1999 and leverages 25 years of experience in managing complex acquisitions and project delivery to provide innovative solutions. He previously led the Federal Systems Integration and Management Center (FEDSIM) organization which managed over one percent of federal discretionary spending. Chris served as GSA’s first Acquisition Innovation Advocate and was recognized as one of the Fed100 by Federal Computer Week. He also served on the board of the American Council for Technology (ACT-IAC) and Armed Forces Communications & Electronics Association (AFCEA).
            <br><br>
            Chris holds a Bachelor’s in Political Science from Elon University and a Master’s in Public Administration from the University of North Carolina at Charlotte. In 1999, he was selected to the Presidential Management Internship Program. He is a Senior Executive Fellow of Harvard University’s Kennedy School of Government. Outside of work, Chris and his family enjoy life outdoors and rooting for the Eagles and the Phillies.
            </p>
        </div>
    </div>
</div>   
<!-- PB popup -->
<div id="bioPopup_PB" class="dialog-overlay" aria-hidden="true" aria-live="off" aria-modal="true" role="dialog">
    <div class="dialog" >
        <div class="modalblock">
            <div id="bioPopup_PB_close" class="modal_close_btn" aria-label="Close dialog" onclick="javascript:closeBio();"><img src="../assets/img/usa-icons/close.svg" alt="Close" /></div>
            <div class="flex-wrapper">
                <img src="../assets/img/members/Pete-Burr.png" class="member-pic" alt="Pete Burr" />
                <div class="infoblock" tabindex="0">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Pete Burr</p>
                        <p>Deputy Assistant Commissioner<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration
                            </p>
                    </span>
                </div>
            </div>
            <p>Pete Burr serves as the Deputy Assistant Commissioner for the Assisted Acquisition Services (AAS), an office within the U.S. General Services Administration’s Federal Acquisition Service (FAS). In this role, he is in charge of maintaining quality across AAS’ delivery of custom acquisition, project, and financial management services.
            <br><br>
            Pete has nearly 30 years of experience working with government and industry acquisition and program management. He has worked at AAS for 23 of those years in various operational roles, including as the Deputy Director of the Federal Systems Integration and Management Center (FEDSIM). Pete brings additional expertise that he gained from previous positions held at the Department of Health and Human Services and NASA’s Goddard Space Flight Center.
            </p>
        </div>
    </div>
</div> 
<!-- EC popup -->
<div id="bioPopup_EC" class="dialog-overlay" aria-hidden="true" aria-live="off" aria-modal="true" role="dialog">
    <div class="dialog" >
        <div class="modalblock">
            <div id="bioPopup_EC_close" class="modal_close_btn" aria-label="Close dialog" onclick="javascript:closeBio();"><img src="../assets/img/usa-icons/close.svg" alt="Close" /></div>
            <div class="flex-wrapper">
                <img src="../assets/img/members/EC_pic.png" class="member-pic" alt="Erin Childs" />
                <div class="infoblock" tabindex="0">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Erin Childs</p>
                        <p>Deputy Assistant Commissioner (AC)<br>
                            AAS Operations (OSO) <br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration
                            </p>
                    </span>
                </div>
            </div>
            <p>Erin Childs serves as the Deputy Assistant Commissioner for the Assisted Acquisition Services (AAS), an office within the U.S. General Services Administration’s Federal Acquisition Service (FAS). In this role, she leads AAS Operations (OSO).
            <br><br>
            Erin has worked at GSA for more than 15 years and has experience in project management, human capital, facilitation, and process improvement. She served previously as Director of the Program Management Office for the Federal Systems Integration and Management Center (FEDSIM).
            <br><br>
            Erin holds an MBA from George Washington University and a Bachelor of Science from the Pamplin College of Business at Virginia Tech University.
            </p>
        </div>
    </div>
</div>   
<!-- JN popup -->
<div id="bioPopup_JN" class="dialog-overlay" aria-hidden="true" aria-live="off" aria-modal="true" role="dialog">
    <div class="dialog" >
        <div class="modalblock">
            <div id="bioPopup_JN_close" class="modal_close_btn" aria-label="Close dialog" onclick="javascript:closeBio();"><img src="../assets/img/usa-icons/close.svg" alt="Close" /></div>
            <div class="flex-wrapper">
                <img src="../assets/img/members/JN_pic.jpg" class="member-pic" alt="Joe Nickerson" />
                <div class="infoblock" tabindex="0">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Joe Nickerson</p>
                        <p>Client Executive<br>
                            AAS Army<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration                            
                            </p>
                    </span>
                </div>
            </div>
            <p>Joe Nickerson serves as a Client Executive for the Assisted Acquisition Services (AAS), an office within the U.S. General Services Administration’s Federal Acquisition Service, (FAS). In this role, he manages the AAS Army Business Unit. 
            In addition, Joe has operational responsibility for providing comprehensive solutions to the Department of Defense and civilian agencies worldwide.
            <br><br>
            Joe has more than 32 years of federal service managing regional and national programs within GSA. Before joining AAS, Joe served as the Regional Commissioner for FAS’ New England Region from 2014 to 2023 and as Director of Leasing for the Public Buildings Service.
            <br><br>
            Joe holds an MBA and MSF from Suffolk University and a Bachelor in Management from the University of Massachusetts.
            </p>
        </div>
    </div>
</div> 
<!-- CK popup -->
<div id="bioPopup_CK" class="dialog-overlay" aria-hidden="true" aria-live="off" aria-modal="true" role="dialog">
    <div class="dialog" >
        <div class="modalblock">
            <div id="bioPopup_CK_close" class="modal_close_btn" aria-label="Close dialog" onclick="javascript:closeBio();"><img src="../assets/img/usa-icons/close.svg" alt="Close" /></div>
            <div class="flex-wrapper">
                <img src="../assets/img/members/CK_pic.jpg" class="member-pic" alt="Casey Kelly" />
                <div class="infoblock" tabindex="0">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Casey Kelly</p>
                        <p>Client Executive<br>
                            AAS Air Force/Navy/Space Force<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration                            
                            </p>
                    </span>
                </div>
            </div>
            <p>Casey Kelley serves as a Client Executive for the Assisted Acquisition Services (AAS), an office within the U.S. General Services Administration’s (GSA) Federal Acquisition Service office (FAS). In this role, he manages the Air Force/Navy/Space Force business unit.
            <br><br>
            Casey has worked with GSA for 23 years. Before assuming his current role, Casey served as the FAS Pacific Rim Region Regional Commissioner for five years, after serving 10+ years in GSA’s Information Technology Category in multiple leadership roles managing over $13 billion annually. 
            <br><br>
            In 2018 Casey received a Fed100 award for his leading role in developing GSA’s next-generation information technology contract vehicle, the Alliant 2 GWAC, a keystone in the federal government’s Information Technology modernization plans that took government/industry collaboration to a new level. 
            <br><br>
            He is a Senior Executive Fellow of Harvard University’s Kennedy School of Government. He’s earned an MBA from Pepperdine University, a Bachelor of Science from San Diego State University, and a Master's certificate in Project Management from George Washington University.
            </p>
        </div>
    </div>
</div>  
<!-- DE popup -->
<div id="bioPopup_DE" class="dialog-overlay" aria-hidden="true" aria-live="off" aria-modal="true" role="dialog">
    <div class="dialog" >
        <div class="modalblock">
            <div id="bioPopup_DE_close" class="modal_close_btn" aria-label="Close dialog" onclick="javascript:closeBio();"><img src="../assets/img/usa-icons/close.svg" alt="Close" /></div>
            <div class="flex-wrapper">
                <img src="../assets/img/members/DEarly_pic.jpg" class="member-pic" alt="Darrick Early" />
                <div class="infoblock" tabindex="0">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Darrick Early</p>
                        <p>Client Executive<br>
                            AAS Civilian<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration                            
                            </p>
                    </span>
                </div>
            </div>
            <p>Darrick Early serves as an Executive for the Assisted Acquisition Services (AAS), an office within the U.S. General Services Administration’s Federal Acquisition Service (FAS). In this role, he manages the AAS Civilian business unit. 
            <br><br>
            He also serves as the Executive Sponsor for one of General Service Administration’s (GSA) affinity groups where he champions exposure and career growth opportunities for the workforce in collaboration with the GSA Administrator.
            <br><br>
            Darrick joined GSA in August of 2013 as the National Capital Region’s (NCR) AAS Director. He served in this role for five years and won the FAS Commissioner’s Award for his work on the Department of Labor’s Financial System during his tenure. Before joining AAS a second time, he served as the Regional Commissioner for the NCR/FAS within GSA from 2021- 2023. Before this appointment, Darrick served as Deputy Regional Commissioner for over four years.
            <br><br>
            Before joining GSA, Darrick was the Chief for Chemical, Biological, Radiological, and Nuclear Contracts within the Office of Acquisition Management, Contracts and Grants for the U.S. Department of Health and Human Services. He received two Secretary’s Awards for Distinguished Service for work on a next-generation anthrax vaccine and overall support of Project Bioshield. In addition to his work in the Federal government, he was an Adjunct Professor at the University of Maryland Global Campus where he taught general contract management, federal contract management, and project management.
            <br><br>
            Darrick holds a Master’s of Public Management from East Tennessee State University and is currently pursuing his PhD in Leadership and Interdisciplinary Studies at North Carolina A&T State University. He is a Senior Executive Fellow of Harvard University’s Kennedy School of Government, a graduate of Johns Hopkins University’s Business Leadership Program, and a graduate of the Federal Executive Institute’s Leadership for a Democratic Society program. He is a Project Management Professional (PMP), certified at the highest levels of contract management (CPCM), and holds the FAC-C Professional certification.                
            </p>
        </div>
    </div>
</div> 
<!-- END BIOS -->  
<script type="text/javascript">   
    function openBio(memberInfo)
    {
        document.getElementById(memberInfo).setAttribute("aria-hidden", "false");
        document.getElementById(memberInfo).setAttribute("tabindex", "-1");
        document.getElementById(memberInfo).focus(); 
        document.getElementById("main-content").setAttribute("aria-hidden", "true");
        document.getElementById("AAS_footer").setAttribute("aria-hidden", "true");      
    }   
    function closeBio()
    {
        var elements = document.getElementsByClassName("dialog-overlay");
        for (var i = 0; i < elements.length; i++){
            elements[i].setAttribute("aria-hidden", "true");
        }
        document.getElementById("main-content").setAttribute("aria-hidden", "false");
        document.getElementById("AAS_footer").setAttribute("aria-hidden", "false"); 
    }   
</script>
