<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>Leadership</h1>
    </div>
</div>   
<div class="flex-wrapper-big">
    <div class="infoblock">
        <p>Select the images below to see their professional bios.</p>
    </div>
</div>
<div class="flex-wrapper-big no-mobile">   
    <div class="flex-wrapper">
        <button class="memberblock one-third" onclick="javascript:openBio('bioPopup_PB');">
            <img src="../assets/img/members/Pete-Burr.png" class="member-pic" alt="Pete Burr" />
            <br>
            <p class="allcaps">Pete Burr</p>
            <p>*Assistant Commissioner (AC), AAS</p>
        </button>   
        <button class="memberblock one-third" onclick="javascript:openBio('bioPopup_EQ');">
            <img src="../assets/img/members/EQ_pic.jpg" class="member-pic" alt="Erin Quick" />
            <br>
            <p class="allcaps">Erin Quick</p>
            <p>Deputy AC, <br>AAS Operations</p>
        </button>
    </div> 
</div>
<div class="bio-spacer no-mobile"><br></div>
<div class="flex-wrapper-big no-mobile evenSpaced">
        <button class="memberblock" onclick="javascript:openBio('bioPopup_JN');">
            <img src="../assets/img/members/JN_pic.jpg" class="member-pic" alt="Joseph Nickerson" />
            <br>
            <p class="allcaps">Joseph Nickerson</p>
            <p>Client Executive, AAS Army</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_JN');">
            <img src="../assets/img/members/JN_pic.jpg" class="member-pic" alt="Joseph Nickerson" />
            <br>
            <p class="allcaps">Joseph Nickerson</p>
            <p>Acting Client Executive, AAS Air Force/Navy/Space Force</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_JN');">
            <img src="../assets/img/members/DEarly_pic.jpg" class="member-pic" alt="Derrick Early" />
            <br>
            <p class="allcaps">Derrick Early</p>
            <p>Client Executive, AAS Civilian</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CN');">
            <img src="../assets/img/members/CN_pic.jpg" class="member-pic" alt="Corey Nickens" />
            <br>
            <p class="allcaps">Corey Nickens</p>
            <p>Client Executive, AAS Defense</p>
        </button>
    </div>
</div>  
<!-- mobile only version -->
<div class="flex-wrapper-big mobile-only">   
    <div class="flex-wrapper">
        <button class="memberblock one-third" onclick="javascript:openBio('bioPopup_TO');">
            <img src="../assets/img/members/Pete-Burr.png" class="member-pic" alt="Pete Burr" />
            <br>
            <p class="allcaps">Pete Burr</p>
            <p>*Assistant Commissioner (AC), AAS</p>
        </button>   
        <button class="memberblock one-third" onclick="javascript:openBio('bioPopup_EQ');">
            <img src="../assets/img/members/EQ_pic.png" class="member-pic" alt="Erin Quick" />
            <br>
            <p class="allcaps">Erin Quick</p>
            <p>Deputy AC, AAS Operations</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_JN');">
            <img src="../assets/img/members/JN_pic.jpg" class="member-pic" alt="Joseph Nickerson" />
            <br>
            <p class="allcaps">Joseph Nickerson</p>
            <p>Client Executive, AAS Army</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CK');">
            <img src="../assets/img/members/CK_pic.jpg" class="member-pic" alt="Casey Kelley" />
            <br>
            <p class="allcaps">Casey Kelley</p>
            <p>Client Executive, AAS Air Force/Navy/Space Force</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_DE');">
            <img src="../assets/img/members/DEarly_pic.jpg" class="member-pic" alt="Darrick Early" />
            <br>
            <p class="allcaps">Darrick Early</p>
            <p>Client Executive, AAS Civilian</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CN');">
            <img src="../assets/img/members/CN_pic.jpg" class="member-pic" alt="Corey Nickens" />
            <br>
            <p class="allcaps">Corey Nickens</p>
            <p>Client Executive, AAS Innovation</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_JP');">
            <img src="../assets/img/members/JP_pic.jpg" class="member-pic" alt="Jim Piche" />
            <br>
            <p class="allcaps">Jim Piche</p>
            <p>Client Executive, AAS Defense</p>
        </button>
    </div>
</div>  
<div class="v-buffer no-mobile"></div>
<!-- CN popup -->
<div id="bioPopup_CN" class="dialog-overlay" aria-hidden="true" aria-live="off" aria-modal="true" role="dialog">
    <div class="dialog" >
        <div class="modalblock">
            <div id="bioPopup_CN_close" class="modal_close_btn" aria-label="Close dialog" onclick="javascript:closeBio();"><img src="../assets/img/usa-icons/close.svg" alt="Close" /></div>
            <div class="flex-wrapper">
                <img src="../assets/img/members/CN_pic.jpg" class="member-pic" alt="Corey Nickens" />
                <div class="infoblock" tabindex="0">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Corey Nickens</p>
                        <p>Client Executive/Acquisition Innovation Advocate<br>
                            AAS Innovation<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration
                            </p>
                    </span>
                </div>
            </div>
            <p>Corey Nickens serves as the Client Executive for the Assisted Acquisition Services’ (AAS) Innovation Unit, housed under the General Services Administration’s (GSA) Federal Acquisition Service (FAS). 
            <br><br>Corey previously served as AAS Deputy Assistant Commissioner from 2020 to 2023, and Acquisition Quality Director for AAS’ Federal Systems Integration and Management Center (FEDSIM) from 2017 to 2020.
            <br><br>Corey is a participant in various professional organizations that work to increase collaboration between public and private sector organizations. He has held leadership roles in ACT-IAC’s professional development programs, as well as the Executive Leadership Conference (ELC).
            <br><br>Corey holds a Master’s degree in Library and Information Science from Drexel University, and a Bachelor’s degree in Information Systems from the University of Maryland Baltimore County (UMBC).
            </p>
        </div>
    </div>
</div>   
<!-- JP popup -->
<div id="bioPopup_JP" class="dialog-overlay" aria-hidden="true" aria-live="off" aria-modal="true" role="dialog">
    <div class="dialog" >
        <div class="modalblock">
            <div id="bioPopup_JP_close" class="modal_close_btn" aria-label="Close dialog" onclick="javascript:closeBio();"><img src="../assets/img/usa-icons/close.svg" alt="Close" /></div>
            <div class="flex-wrapper">
                <img src="../assets/img/members/JP_pic.jpg" class="member-pic" alt="Jim Piche" />
                <div class="infoblock" tabindex="0">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Jim Piche</p>
                        <p>Client Executive<br>
                            AAS Defense<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration
                            </p>
                    </span>
                </div>
            </div>
            <p>Jim Piche serves as the Client Executive for Assisted Acquisition Services’ (AAS) Defense, housed under the General Services Administration’s (GSA) Federal Acquisition Service (FAS). 
            <br><br>
            Jim has over 25 years of experience working in major systems acquisition and program management. He previously served for seven years as a Sector Director for AAS’ Defense Global sector and the legacy Federal Systems and Integration Management (FEDSIM) center. 
            Jim holds a Bachelor’s of Science in Naval Architecture and Marine Engineering from the U.S. Coast Guard Academy, and served in the Coast Guard both afloat and ashore.              
            </p>
        </div>
    </div>
</div>   
<!-- PB popup -->
<div id="bioPopup_PB" class="dialog-overlay" aria-hidden="true" aria-live="off" aria-modal="true" role="dialog">
    <div class="dialog" >
        <div class="modalblock">
            <div id="bioPopup_PB_close" class="modal_close_btn" aria-label="Close dialog" onclick="javascript:closeBio();"><img src="../assets/img/usa-icons/close.svg" alt="Close" /></div>
            <div class="flex-wrapper">
                <img src="../assets/img/members/Pete-Burr.png" class="member-pic" alt="Pete Burr" />
                <div class="infoblock" tabindex="0">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Pete Burr</p>
                        <p>*Assistant Commissioner<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration
                            </p>
                    </span>
                </div>
            </div>
            <p>Pete Burr serves as the Acting Assistant Commissioner for the Assisted Acquisition Services (AAS), an office within the U.S. General Services Administration’s Federal Acquisition Service (FAS). In this role, he is in charge of maintaining quality across AAS’ delivery of custom acquisition, project, and financial management services.
            <br><br>
            Pete has nearly 30 years of experience working with government and industry acquisition and program management. He has worked at AAS for 23 of those years in various operational roles, including as the Deputy Director of the Federal Systems Integration and Management Center (FEDSIM). Pete brings additional expertise that he gained from previous positions held at the Department of Health and Human Services and NASA’s Goddard Space Flight Center.
            </p>
        </div>
    </div>
</div> 
<!-- EQ popup -->
<div id="bioPopup_EQ" class="dialog-overlay" aria-hidden="true" aria-live="off" aria-modal="true" role="dialog">
    <div class="dialog" >
        <div class="modalblock">
            <div id="bioPopup_EQ_close" class="modal_close_btn" aria-label="Close dialog" onclick="javascript:closeBio();"><img src="../assets/img/usa-icons/close.svg" alt="Close" /></div>
            <div class="flex-wrapper">
                <img src="../assets/img/members/EQ_pic.png" class="member-pic" alt="Erin Quick" />
                <div class="infoblock" tabindex="0">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Erin Quick</p>
                        <p>Deputy Assistant Commissioner (AC)<br>
                            AAS Operations (OSO) <br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration
                            </p>
                    </span>
                </div>
            </div>
            <p>Erin Quick serves as the Acting Interim Deputy Assistant Commissioner for Assisted Acquisition Services (AAS) and Deputy Client Executive for AAS Defense, housed under the General Services Administration’s (GSA) Federal Acquisition Service (FAS). 
            <br><br>
            Erin has been with GSA since 2009 and has held various positions during her tenure. She previously served as an Acquisition Project Manager, Project Manager/Contracting Officer’s Representative, and Contract Specialist.
            <br><br>
            During her time as Acquisition Project Manager, she was stationed in Stuttgart, Germany, where she was instrumental in growing FEDSIM’S opportunities with DoD clients across Europe and Africa.
            <br><br>
            Erin earned her bachelor’s degree from Wake Forest University.
            </p>
        </div>
    </div>
</div>   
<!-- JN popup -->
<div id="bioPopup_JN" class="dialog-overlay" aria-hidden="true" aria-live="off" aria-modal="true" role="dialog">
    <div class="dialog" >
        <div class="modalblock">
            <div id="bioPopup_JN_close" class="modal_close_btn" aria-label="Close dialog" onclick="javascript:closeBio();"><img src="../assets/img/usa-icons/close.svg" alt="Close" /></div>
            <div class="flex-wrapper">
                <img src="../assets/img/members/JN_pic.jpg" class="member-pic" alt="Joe Nickerson" />
                <div class="infoblock" tabindex="0">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Joe Nickerson</p>
                        <p>Client Executive<br>
                            AAS Army<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration                            
                            </p>
                    </span>
                </div>
            </div>
            <p>Joe Nickerson serves as a Client Executive for the Assisted Acquisition Services (AAS), an office within the U.S. General Services Administration’s Federal Acquisition Service, (FAS). In this role, he manages the AAS Army business unit. 
            In addition, Joe has operational responsibility for providing comprehensive solutions to the Department of Defense and civilian agencies worldwide.
            <br><br>
            Joe has more than 32 years of federal service managing regional and national programs within GSA. Before joining AAS, Joe served as the Regional Commissioner for FAS’ New England Region from 2014 to 2023 and as Director of Leasing for the Public Buildings Service.
            <br><br>
            Joe holds an MBA and MSF from Suffolk University and a Bachelor in Management from the University of Massachusetts.
            </p>
        </div>
    </div>
</div> 
<!-- CK popup -->
<div id="bioPopup_CK" class="dialog-overlay" aria-hidden="true" aria-live="off" aria-modal="true" role="dialog">
    <div class="dialog" >
        <div class="modalblock">
            <div id="bioPopup_CK_close" class="modal_close_btn" aria-label="Close dialog" onclick="javascript:closeBio();"><img src="../assets/img/usa-icons/close.svg" alt="Close" /></div>
            <div class="flex-wrapper">
                <img src="../assets/img/members/CK_pic.jpg" class="member-pic" alt="Casey Kelly" />
                <div class="infoblock" tabindex="0">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Casey Kelly</p>
                        <p>Client Executive<br>
                            AAS Air Force/Navy/Space Force<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration                            
                            </p>
                    </span>
                </div>
            </div>
            <p>Casey Kelley serves as a Client Executive for the Assisted Acquisition Services (AAS), an office within the U.S. General Services Administration’s (GSA) Federal Acquisition Service office (FAS). In this role, he manages the Air Force/Navy/Space Force business unit.
            <br><br>
            Casey has worked with GSA for 23 years. Before assuming his current role, Casey served as the FAS Pacific Rim Region Regional Commissioner for five years, after serving 10+ years in GSA’s Information Technology Category in multiple leadership roles managing over $13 billion annually. 
            <br><br>
            In 2018 Casey received a Fed100 award for his leading role in developing GSA’s next-generation information technology contract vehicle, the Alliant 2 GWAC, a keystone in the federal government’s Information Technology modernization plans that took government/industry collaboration to a new level. 
            <br><br>
            He is a Senior Executive Fellow of Harvard University’s Kennedy School of Government. He’s earned an MBA from Pepperdine University, a Bachelor of Science from San Diego State University, and a Master's certificate in Project Management from George Washington University.
            </p>
        </div>
    </div>
</div>  
<!-- DE popup -->
<div id="bioPopup_DE" class="dialog-overlay" aria-hidden="true" aria-live="off" aria-modal="true" role="dialog">
    <div class="dialog" >
        <div class="modalblock">
            <div id="bioPopup_DE_close" class="modal_close_btn" aria-label="Close dialog" onclick="javascript:closeBio();"><img src="../assets/img/usa-icons/close.svg" alt="Close" /></div>
            <div class="flex-wrapper">
                <img src="../assets/img/members/DEarly_pic.jpg" class="member-pic" alt="Darrick Early" />
                <div class="infoblock" tabindex="0">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Darrick Early</p>
                        <p>Client Executive<br>
                            AAS Civilian<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration                            
                            </p>
                    </span>
                </div>
            </div>
            <p>Darrick Early serves as an Executive for the Assisted Acquisition Services (AAS), an office within the U.S. General Services Administration’s Federal Acquisition Service (FAS). In this role, he manages the AAS Civilian business unit. 
            <br><br>
            He also serves as the Executive Sponsor for one of General Service Administration’s (GSA) affinity groups where he champions exposure and career growth opportunities for the workforce in collaboration with the GSA Administrator.
            <br><br>
            Darrick joined GSA in August of 2013 as the National Capital Region’s (NCR) AAS Director. He served in this role for five years and won the FAS Commissioner’s Award for his work on the Department of Labor’s Financial System during his tenure. Before joining AAS a second time, he served as the Regional Commissioner for the NCR/FAS within GSA from 2021- 2023. Before this appointment, Darrick served as Deputy Regional Commissioner for over four years.
            <br><br>
            Before joining GSA, Darrick was the Chief for Chemical, Biological, Radiological, and Nuclear Contracts within the Office of Acquisition Management, Contracts and Grants for the U.S. Department of Health and Human Services. He received two Secretary’s Awards for Distinguished Service for work on a next-generation anthrax vaccine and overall support of Project Bioshield. In addition to his work in the Federal government, he was an Adjunct Professor at the University of Maryland Global Campus where he taught general contract management, federal contract management, and project management.
            <br><br>
            Darrick holds a Master’s of Public Management from East Tennessee State University and is currently pursuing his PhD in Leadership and Interdisciplinary Studies at North Carolina A&T State University. He is a Senior Executive Fellow of Harvard University’s Kennedy School of Government, a graduate of Johns Hopkins University’s Business Leadership Program, and a graduate of the Federal Executive Institute’s Leadership for a Democratic Society program. He is a Project Management Professional (PMP), certified at the highest levels of contract management (CPCM), and holds the FAC-C Professional certification.                
            </p>
        </div>
    </div>
</div> 
<!-- END BIOS -->  
<script type="text/javascript">   
    function openBio(memberInfo)
    {
        document.getElementById(memberInfo).setAttribute("aria-hidden", "false");
        document.getElementById(memberInfo).setAttribute("tabindex", "-1");
        document.getElementById(memberInfo).focus(); 
        document.getElementById("main-content").setAttribute("aria-hidden", "true");
        document.getElementById("AAS_footer").setAttribute("aria-hidden", "true");      
    }   
    function closeBio()
    {
        var elements = document.getElementsByClassName("dialog-overlay");
        for (var i = 0; i < elements.length; i++){
            elements[i].setAttribute("aria-hidden", "true");
        }
        document.getElementById("main-content").setAttribute("aria-hidden", "false");
        document.getElementById("AAS_footer").setAttribute("aria-hidden", "false"); 
    }   
</script>
